@import '../../styles/variables';

.breadcrumb {
  list-style: none;
  width: 60vw;
  min-width: 460px;
  max-width: 780px;
  margin: 0 16%;
  padding: 16px 0;
}

.breadcrumb-item {
  display: inline-block;
  color: $meli-gray-9;
  font-size: 14px;

  &:not(:last-child)::after {
    display: inline-block;
    content: "";
    height: 14px;
    width: 14px;
    background: url('../../assets/chevron-right-solid8.png') no-repeat center center;
    vertical-align: middle;

  }
}
